Q1. How do you comment code in Python? What are the different types of comments?

In [4]:
# Adding two number
20+30

50

In [5]:
"""
This is my Second Assignment
And I Am Enjoying Coding with Sudhanshu sir
"""

20 + 30

50

There are Two types of Comments 
# - Single line comments 
or 
"""  """ - Multiple line comments

Q2. What are variables in Python? How do you declare and assign values to variables?

A python variable is a symbolic name that is a refrence or pointer to an object
There are 4 types of Variable in python
1- int
2- float
3- str
6- bool

Declaration of Variable:-
Name_of_Variable = Value (Variable name is only accepted '_','A to Z', 'a to z')

Assign values to variable:-
1. name = 'Saurabh' ( Self Defined Value )
2. name = input()( Take input from users)

Q3. How do you convert one data type to another in Python?

In [8]:
# 10 is integer value
Value = 10 
print(type(Value))
      
# after typecasting its become string
Value1 = str(Value)
print(type(Value1))

<class 'int'>
<class 'str'>

Q4.How do you write and execute a Python script from the command line?

>> x = 20
>> y = 30
>> if x > y:
..    print('x is greater than y')
.. elif x < y:
..    print('x is lesser than y')
.. else:
..    print('x is equal to y')
x is lesser than y
>>

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [9]:
my_list = [1,2,3,4,5]
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of x + iy where x,y are real number and i is imaginary number

represented in Python:-
 num = 5 + 4j
 where 5 is real number and 4j is imaginary number
 
 we get real and imaginary number by using this function
 1- num.real # it gives real number
 2- num.imag # it gives imaginary number

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
age = int(input("Enter your age   ::"))

Enter your age   :: 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [15]:
price = 9.99
print(type(price)) # float

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [17]:
name = input("Enter your name   :  ")
print("Your name is ", name)

Enter your name   :   saurabh mishra

Your name is  saurabh mishra

Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
a = 'Hello, World!'
print(a[7:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True # 
if is_student == 1:
    print('You are Student ')
else is_student == 0:
    print()